@use '../../style/base'

.content-container
    @extend %fxcol
    gap: base.$unit-4x

    padding: base.$unit-2x
    background: base.$color-primary-100

    &--purple
        background: base.$color-primary-500
        color: white